body {padding:0px;margin:0px;}
#main {height:100%;width:100%;background-color:green;display:block;}
#top_bar {height: 50px;width:100%;background-color: black;}
#top_bar label:nth-child(1)  {color: #dddddd;margin-top: 15px;position:absolute;margin-left: 50px;}
#top_bar label:nth-child(2)  {color: #dddddd;margin-top: 15px;position:absolute;margin-left: 250px;}
#top_bar label:nth-child(3)  {color: #dddddd;margin-top: 15px;position:absolute;margin-left: 300px;}
#top_bar label:nth-child(4)  {color: #dddddd;margin-top: 15px;position:absolute;margin-left: 380px;}
#top_bar label:nth-child(5)  {color: white;margin-top: 15px;position:absolute;margin-left: 480px;}
#show {width:100%;height:100%;}
#ctrl_div {height: 50px;width:100%;background-color: #cccccc;}
#ctrl_div button:nth-child(1) {color: black;margin-top: 10px;position:absolute;margin-left: 50px;background-color: red;font-size:18;}
#ctrl_div button:nth-child(2) {color: black;margin-top: 10px;position:absolute;margin-left: 150px;background-color: yellow;font-size:18;}
#ctrl_div button:nth-child(3) {color: black;margin-top: 10px;position:absolute;margin-left: 250px;background-color: blue;font-size:18;}
#show_devices {width:100%;height:100%;background-color:white;display:none;}
#device_manage {width:100%;min-height:100%;background-color:white;display:block;}
#ctrl_div1 {height: 50px;width:100%;background-color: #cccccc;}
#ctrl_div1 button:nth-child(1) {color: black;margin-top: 10px;position:absolute;margin-left: 50px;_background-color: red;font-size:18;}
#ctrl_div1 button:nth-child(2) {color: black;margin-top: 10px;position:absolute;margin-left: 150px;background-color: #aaaaaa;font-size:18;}
#ctrl_div1 button:nth-child(3) {color: black;margin-top: 10px;position:absolute;margin-left: 250px;_background-color: blue;font-size:18;}

#div_add_dev {width:100%;min-height:90%;_background:yellow;display:block;}
#info {width:1012px;min-height:90%;_background-color:white;margin:0 auto;_display:none;}
#info_table th {width:330px;height:60px;}
#info_table label {float:left;position:relative;top:10px;}
#info_table input {width:230px;height:40px;float:right;font-size:18;}
#info_table select {width:230px;height:40px;float:right;font-size:18;}
.need_star {color:red;float:left;position:relative;top:10px;}
#add_divice_button {width:230px;height:40px;margin-top:10px;font-size:18;margin-left:102;}
#clear_button {width:230px;height:40px;margin-top:10px;font-size:18;margin-left:96;}
#default_button {width:230px;height:40px;margin-top:10px;font-size:18;margin-left:96;}

#div_manage_dev {width:100%;min-height:90%;background:#555555;display:none;}

#div_search_dev {width:100%;min-height:90%;background:#888888;display:none;}
#div_search_dev div:nth-child(2) {width:100%;min-height:80%;background-color:white;}
#ctrl_div2 {height: 50px;width:100%;background-color: #999999;}
#ctrl_div2 button:nth-child(1) {color: black;margin-top: 10px;position:absolute;margin-left: 50px;background-color: red;font-size:18;}
#ctrl_div2 button:nth-child(2) {color: black;margin-top: 10px;position:absolute;margin-left: 150px;background-color: yellow;font-size:18;}
#ctrl_div2 button:nth-child(3) {color: black;margin-top: 10px;position:absolute;margin-left: 250px;background-color: blue;font-size:18;}
#ctrl_div2 button:nth-child(4) {color: black;margin-top: 10px;position:absolute;margin-left: 350px;background-color: #cccccc;font-size:18;}
#head_info {margin:0 auto;border-color:#cccccc;_border-left:none;_border-right:none;border-top:none;border-collapse:collapse;}
#head_info th {width:150px;height:40px;border-color:#cccccc;_border-left:none;border-top:none;_border-right:none;border-collapse:collapse;}
#head_info th:nth-child(1) {width:50px;height:40px;border-color:#cccccc;_border-left:none;border-top:none;_border-right:none;border-collapse:collapse;}

#login_panel {width:100%;height:100%;background-color:#aabbff;display:none;position:absolute;top:0px;}
#registe_panel {width:100%;height:100%;background-color:green;display:none;position:absolute;top:0px;}
#close_login {width:100px;height:100px;float:right;background-image:url(../img/close_up.png);margin:10px;}
#close_login:hover {background-image: url(../img/close_down.png);}
#close_register {width:100px;height:100px;float:right;background-image:url(../img/close_up.png);margin:10px;}
#close_register:hover {background-image: url(../img/close_down.png);}
#div_login {width:400px;height:300px;background-color:green;margin:0 auto;top:25%;position:relative;}
#div_login div:nth-child(1) {width:400px;height:100px;background-color:yellow;}
#div_login div:nth-child(2) {width:400px;height:100px;background-color:blue;}
#div_login div:nth-child(3) {width:400px;height:100px;}
#div_register {width:400px;height:300px;background-color:green;margin:0 auto;top:25%;position:relative;}
#div_register div:nth-child(1) {width:400px;height:100px;background-color:yellow;}
#div_register div:nth-child(2) {width:400px;height:100px;background-color:blue;}
#div_register div:nth-child(3) {width:400px;height:100px;background-color:red;}