body {padding:0px;margin:0px;}
#main {height:100%;width:100%;background-color:green;}
#top_bar {height: 50px;width:100%;background-color: black;}
#top_bar label:nth-child(1)  {color: white;margin-top: 15px;position:absolute;margin-left: 50px;}
#top_bar label:nth-child(2)  {color: white;margin-top: 15px;position:absolute;margin-left: 250px;}
#top_bar label:nth-child(3)  {color: white;margin-top: 15px;position:absolute;margin-left: 300px;}
