body {padding:0px;margin:0px;}
#login_panel {width:100%;height:100%;_background-color:#cccccc;display:block;position:absolute;top:0px;}
#registe_panel {width:100%;height:100%;background-color:green;display:none;position:absolute;top:0px;}
#close_login {width:110px;height:110px;float:right;background-image:url(../img/close_up.png);margin:10px;background-repeat:no-repeat;}
#close_login:hover {background-image: url(../img/close_down.png);}
#close_register {width:110px;height:110px;float:right;background-image:url(../img/close_up.png);margin:10px;}
#close_register:hover {background-image: url(../img/close_down.png);}
#div_login {width:400px;height:300px;_background-color:green;margin:0 auto;top:30%;position:relative;}

#div_login div:nth-child(1) {width:370px;height:60px;_background-color:yellow;}
#div_login div:nth-child(1) > label {font-size:22;top:10px;position:relative;}
#div_login div:nth-child(1) > input {font-size:22;top:10px;left:5px;position:relative;float:right;}
#div_login div:nth-child(2) {width:370px;height:60px;_background-color:blue;}
#div_login div:nth-child(2) > label {font-size:22;top:10px;position:relative;}
#div_login div:nth-child(2) > input {font-size:22;top:10px;left:5px;position:relative;float:right;}
#div_login div:nth-child(3) > button {font-size:22;top:10px;position:relative;width:375px;height:40px;}
#div_login div:nth-child(3) {width:370px;height:60px;}

#div_register {width:400px;height:300px;background-color:green;margin:0 auto;top:25%;position:relative;}
#div_register div:nth-child(1) {width:400px;height:100px;background-color:yellow;}
#div_register div:nth-child(2) {width:400px;height:100px;background-color:blue;}
#div_register div:nth-child(3) {width:400px;height:100px;background-color:red;}